<div class="testimonials page_section" id="temoignages">
		<!-- <div class="testimonials_background" style="background-image:url(images/testimonials_background.jpg)"></div> -->
		<div class="testimonials_background_container prlx_parent">
			<div class="testimonials_background prlx" style="background-image:url(images/afri.png)"></div>
		</div>
		<div class="container">

			<div class="row">
				<div class="col">
					<div class="section_title text-center">
						<h1> {% trans %}Que disent nos clients {% endtrans %}</h1>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-10 offset-lg-1">

					<div class="testimonials_slider_container">

						<!-- Testimonials Slider -->
						<div class="owl-carousel owl-theme testimonials_slider">

							<!-- Testimonials Item -->
							<div class="owl-item">
								<div class="testimonials_item text-center">
									<div class="quote">“</div>
									<p class="testimonials_text">{% trans %}Aujourd’hui encore, nous nous félicitons de notre collaboration car vous disposez d’une équipe réactive, de qualité et
										disponible qui se soucie de nos besoins et de nos différentes remarques.{% endtrans %}</p>
									<div class="testimonial_user">
										<div class="testimonial_image mx-auto">
											<img src="images/mark-luckie.jpg" alt="">
										</div>
										<div class="testimonial_name">Dzrovi KODJO</div>
										<div class="testimonial_title">Directeur d'école</div>
									</div>
								</div>
							</div>

							<!-- Testimonials Item -->
							<div class="owl-item">
								<div class="testimonials_item text-center">
									<div class="quote">“</div>
									<p class="testimonials_text">{% trans %}CAGESI SARL est un cabinet de qualité qui a su mettre en évidence des éléments déterminants dans l’établissement de l’avant-projet.
										Force de proposition et précision, des recommandations ont été les atouts majeurs du cabinet lors de nos échanges.{% endtrans %}</p>
									<div class="testimonial_user">
										<div class="testimonial_image mx-auto">
											<img src="images/noir.jpg" alt="">
										</div>
										<div class="testimonial_name">Marc AGBOTI</div>
										<div class="testimonial_title">Développeur d'application</div>
									</div>
								</div>
							</div>

							<!-- Testimonials Item -->
							<div class="owl-item">
								<div class="testimonials_item text-center">
									<div class="quote">“</div>
									<p class="testimonials_text">{% trans %}Merci pour la finesse de votre travail, votre écoute et les échanges que nous avons eu lors de nos rencontres.{% endtrans %}</p>
									<div class="testimonial_user">
										<div class="testimonial_image mx-auto">
											<img src="images/femmenoir.jpg" alt="">
										</div>
										<div class="testimonial_name">Pamela Bealloum</div>
										<div class="testimonial_title">Communicante</div>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>

		</div>
	</div>
