<section id="about" class="about">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xl-5 col-lg-6 d-flex justify-content-center align-items-stretch">
            <a href="" ></a>
          </div>

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <h3>{% trans %}Offre de stage{% endtrans %}</h3>
            <p>{% trans %}Vous êtes à la recherche d'un stage pour faire votre memoire ou vous cherchez un stage de mise à niveau.{% endtrans %}</p>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class="title"><a href="">{% trans %}Maintenance Informatique{% endtrans %}</a></h4>
              <p class="description">{% trans %}Avec ce stage vous irez sur le terrain faire des pratiques approfondie.{% endtrans %}</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <h4 class="title"><a href="">{% trans %}Developpement d'application{% endtrans %}</a></h4>
              <p class="description">{% trans %}Vous aurez des projets sur lesquels vous allez travaillez et faire de vous un bon developpeur.{% endtrans %}</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-atom"></i></div>
              <h4 class="title"><a href="">{% trans %}Comptabilité{% endtrans %}</a></h4>
              <p class="description">{% trans %}Vous aurez la maitrise de la comptabilité côté entreprise avec nos stages.{% endtrans %}</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->