<section id="departments" class="departments">
      <div class="container">

        <div class="section-title">
          <h2>{% trans %}Nos Domaines de formations{% endtrans %}</h2>
          <p>{% trans %}On vous apporte de l'aide pour combler vos besoins et encore plus. Ce n'est qu'une partie de nos domaine de formations{% endtrans %}</p>
        </div>

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">{% trans %}Comptabilité{% endtrans %}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-2">Offices</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-3">{% trans %}Analyse de base de donnée{% endtrans %}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-4">{% trans %}Maintenance Informatique{% endtrans %}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-5">{% trans %}Developpement d'application{% endtrans %}</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>{% trans %}Comptabilité{% endtrans %}</h3>
                    <p class="font-italic">{% trans %}Vous avez un BAC G ou un diplome universitaire mais pas assez de base en saari compta{% endtrans %}</p>
                    <p>{% trans %}Nos formations pour les comptables sont mis à votre disposition pour vous facilité l'integration dans le domaine de saari compta et sa maitrisse.{% endtrans %}</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="https://cdn.pixabay.com/photo/2015/01/28/22/20/bookkeeping-615384__340.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>{% trans %}Microsoft Office{% endtrans %}</h3>
                    <p class="font-italic">{% trans %}Vous voulez augmenter vos connaissances ou acquerir des connaissances office{% endtrans %}</p>
                    <p>{% trans %}Nos formations pour les suites bureautiques sont mis à votre disposition pour vous facilité son utilisation pour vos besoins et se familiarisé avec l'outils.{% endtrans %}</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="https://cdn.pixabay.com/photo/2016/04/27/15/04/office-1356793__340.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>{% trans %}Analyse de base de donnée{% endtrans %}</h3>
                    <p class="font-italic">{% trans %}Vous êtes developpeur d'application et vous avez des problemes avec l'analyse{% endtrans %}</p>
                    <p>{% trans %}Cette formations est specialement proposée aux etudiants qui aprés leur etudes ont encore du mal pour faire l'analyse de données afin de bien faire vos projets.Cette formations est accéleré et vraiment interresant.{% endtrans %}</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="https://cdn.pixabay.com/photo/2016/12/09/18/30/database-schema-1895779__340.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>{% trans %}Maintenance Informatique{% endtrans %}</h3>
                    <p class="font-italic">{% trans %}Vous avez fait des etudes de maintenance informatique et vous cherchez à connaitre la partie pratique{% endtrans %}</p>
                    <p>{% trans %}La formation de maintenace ne concerne pas uniquement les etudiants mais tous ceux qui veulent apprendre pour pouvoir s'en sortir toute seul devant les pannes de leur ordinateurs ou installés des reseuax informatique à la maison.Cette formation est trés essentiel pour tous le monde.{% endtrans %}</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="https://cdn.pixabay.com/photo/2014/08/26/21/27/service-428539__340.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>{% trans %}Developpement d'application{% endtrans %}</h3>
                    <p class="font-italic">{% trans %}Vous voulez vous aussi developpé les sites web ou un petit projet desktop.{% endtrans %}</p>
                    <p>{% trans %}Cette formation est specialement pour les etudiant de mise à niveau ou apprendre les bases avant la rentrée universitaires ou des particuliers qui veulent developpé des petits programmes pour gérer leurs affaires eux même.Cette formation demande asiduité et comprehension et vous serrez les meilleurs.{% endtrans %}</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="https://cdn.pixabay.com/photo/2015/09/17/17/25/code-944499__340.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Departments Section -->