<section id="gallery" class="gallery">
      <div class="container">

        <div class="section-title">
          <h2>Nos photos de formations </h2>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row no-gutters">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="https://scontent.flfw2-1.fna.fbcdn.net/v/t1.0-9/132215600_104342724913267_5695392096831290113_n.png?_nc_cat=104&ccb=2&_nc_sid=174925&_nc_ohc=BuhYAbpXJA4AX8ubPm1&_nc_ht=scontent.flfw2-1.fna&oh=c5377d97601ee21e6e523a502d6d40c3&oe=602813B0" class="venobox" data-gall="gallery-item">
                <img src="https://scontent.flfw2-1.fna.fbcdn.net/v/t1.0-9/132215600_104342724913267_5695392096831290113_n.png?_nc_cat=104&ccb=2&_nc_sid=174925&_nc_ohc=BuhYAbpXJA4AX8ubPm1&_nc_ht=scontent.flfw2-1.fna&oh=c5377d97601ee21e6e523a502d6d40c3&oe=602813B0" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="https://cdn.pixabay.com/photo/2015/01/09/11/08/startup-594090__340.jpg" class="venobox" data-gall="gallery-item">
                <img src="https://cdn.pixabay.com/photo/2015/01/09/11/08/startup-594090__340.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="https://cdn.pixabay.com/photo/2016/02/19/11/19/office-1209640__340.jpg" class="venobox" data-gall="gallery-item">
                <img src="https://cdn.pixabay.com/photo/2016/02/19/11/19/office-1209640__340.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="https://cdn.pixabay.com/photo/2015/01/08/18/28/startup-593343__340.jpg" class="venobox" data-gall="gallery-item">
                <img src="https://cdn.pixabay.com/photo/2015/01/08/18/28/startup-593343__340.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{{asset('assets/img/gallery/gallery-5.jpg')}}" class="venobox" data-gall="gallery-item">
                <img src="{{asset('assets/img/gallery/gallery-5.jpg')}}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="https://cdn.pixabay.com/photo/2016/03/09/09/22/workplace-1245776__340.jpg" class="venobox" data-gall="gallery-item">
                <img src="https://cdn.pixabay.com/photo/2016/03/09/09/22/workplace-1245776__340.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="https://cdn.pixabay.com/photo/2015/01/08/18/11/startup-593296__340.jpg" class="venobox" data-gall="gallery-item">
                <img src="https://cdn.pixabay.com/photo/2015/01/08/18/11/startup-593296__340.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="https://cdn.pixabay.com/photo/2015/01/09/11/09/startup-594091__340.jpg" class="venobox" data-gall="gallery-item">
                <img src="https://cdn.pixabay.com/photo/2015/01/09/11/09/startup-594091__340.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Gallery Section -->