<style>
  .qui{
    margin-top:3%;
  }
</style>
<section id="why-us" class="why-us qui">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>{% trans %}Pourquoi choisir CAGESI SARL?{% endtrans %}</h3>
              <p>
                {% trans %}CAGESI est une entreprise basée sur les nouvelles technologie.Pour ce fait il est specialisé dans le developpement des sites web, applications web, la formations dans le domaine
                informatique. La sociéte prône sur le respect des droits de ses employés et donc est un cadre parfais pour vous d'apprendre et d'acquerir plus de connaissance.{% endtrans %}
              </p>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>{% trans %}Applications Web{% endtrans %}</h4>
                    <p>{% trans %}Devellopement des applications et sites web à des entreprises de la place et de l'exterieur du pays.{% endtrans %}</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>{% trans %}Formations{% endtrans %}</h4>
                    <p>{% trans %}Nos formations sont parmis ceux des meilleurs faites par des meilleurs dans leur domaine.{% endtrans %}</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>{% trans %}Assistance{% endtrans %}</h4>
                    <p>{% trans %}De l'aide avec nous vous l'aurez rapide et efficace.{% endtrans %}</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->
