<div class="testimonials page_section" id="temoignages">
		<!-- <div class="testimonials_background" style="background-image:url(images/testimonials_background.jpg)"></div> -->
		<div class="testimonials_background_container prlx_parent">
			<div class="testimonials_background prlx" style="background-image:url(images/afri.png)"></div>
		</div>
		<div class="container">

			<div class="container">
				<div class="col">
					<div class="section_title text-center">
						<h1> {% trans %}Que disent nos clients {% endtrans %}</h1>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-10 offset-lg-1">

					<div class="testimonials_slider_container">

						<!-- Testimonials Slider -->
						<div class="owl-carousel owl-theme testimonials_slider">

							 <div class="testimonial-wrap">
                                <div class="testimonial-item">
                                <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                                <h3>Saul Goodman</h3>
                                <h4>Ceo &amp; Founder</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    {% trans %}Magnifique formation. Très pratico-pratique on en ressort avec tous les éléments nécessaire pour faire nos choix de systèmes. Bravo au formateur jamais mis en défaut malgré la diversité et multiplicité des questions. Formation à encourager sans hésitation.{% endtrans %}
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                </div>
                            </div>

                            <div class="testimonial-wrap">
                                <div class="testimonial-item">
                                <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                                <h3>Sara Wilsson</h3>
                                <h4>Designer</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    {% trans %}Bonjour,La formation délivrée par Benoît Marsille de Rom-arrange est d une très grande qualité. C est à la fois clair et simple pour le débutant et très technique pour celui qui veut aller plus loin...beaucoup plus loin . Benoit ne semble pas avoir de limite dans sa connaissance de l’informatique embarquée. Je recommande.{% endtrans %}
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                </div>
                            </div>

                            <div class="testimonial-wrap">
                                <div class="testimonial-item">
                                <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                                <h3>Jena Karlis</h3>
                                <h4>Store Owner</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    {% trans %}Excellente formation très pédagogique dans un domaine tres diverses et pas toujours facile à appréhender. Merci au formateur qui a su rendre cette formation intéressante.{% endtrans %}
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                </div>
                            </div>

                            <div class="testimonial-wrap">
                                <div class="testimonial-item">
                                <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                                <h3>Matt Brandon</h3>
                                <h4>Freelancer</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    {% trans %}Très bien, très utile et j'ai appris beaucoup. La diversité des niveaux de chacun a conduit à des discussions pointues qui me sont parfois passées largement au-dessus mais cela n'ôte rien à la qualité et à l'intérêt de la formation.{% endtrans %}
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                </div>
                            </div>

                            <div class="testimonial-wrap">
                                <div class="testimonial-item">
                                <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                                <h3>John Larson</h3>
                                <h4>Entrepreneur</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    {% trans %}Super formation! j'en attendais beaucoup et j'ai été servi; je vais pouvoir équiper mon projet en comprenant comment et pourquoi, c'est l'essentiel .{% endtrans %}
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                </div>
                            </div>
						</div>

					</div>
				</div>
			</div>

		</div>
	</div>
