<style>
.haute{
  margin-top:10%;
  margin-left:20%;
}

</style>
<!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <i class="icofont-envelope"></i> <a href="mailto:contact@example.com">info@cagesisoft.com</a>
        <i class="icofont-phone"></i> +228 96 06 02 02
        <i class="icofont-google-map"></i> Rue du Grand Séminaire, à 50m de la CEET Hedzranawoe
      </div>
      <div class="social-links">
        <a href="#" class="facebook"><i class="icofont-facebook"></i>Facebook</a>
        <a href="#" class="whatsapp"><i class="icofont-whatsapp"></i>Whatsapp</a>
      </div>
    </div>
  </div>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center haute">
    <div class="container">
      <h1>{% trans %}Bienvenu{% endtrans %}</h1>
      <h2> {% trans %}Voir aussi{% endtrans %} </h2>
      <a href="#about" class="btn-get-started scrollto">{% trans %}Gestion d'Entreprise{% endtrans %}</a>
      <a href="#about" class="btn-get-started scrollto">{% trans %}Systèmes Informatiques{% endtrans %}</a>
    </div>
  </section><!-- End Hero -->
