	<div class="services page_section">

		<div class="container" id="services">
			<div class="row">
				<div class="col">
					<div class="section_title text-center">
						<h1>{% trans %}Nos services{% endtrans %}</h1>
					</div>
				</div>
			</div>

			<div class="row services_row">

				<div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
					<div class="icon_container d-flex flex-column justify-content-end">
						<img src="images/earth-globe.svg" alt="">
					</div>
					<h3>{% trans %}Application de Gestion{% endtrans %}</h3>
					<p>{% trans %}Les meilleures applications de gestion d’entreprise pour suivre vos activités de partout à n'importe quelle heure. 
					Vous pouvez y accéder sur vos smartphones, ordinateurs et autres supports technologiques.{% endtrans %}</p>
				</div>

				<div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
					<div class="icon_container d-flex flex-column justify-content-end">
						<img src="images/exam.svg" alt="">
					</div>
					<h3>{% trans %}Conception de sites web{% endtrans %}</h3>
					<p>{% trans %}Le-saviez vous déjà? La présence sur Internet est indispensable à ce jour pour avoir une visibilité auprès de vos clients et de vos prospects. 
					Ainsi nous vous offrons un site de haute qualité selon vos exigences et celles de vos clients.{% endtrans %}</p>
				</div>

				<div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
					<div class="icon_container d-flex flex-column justify-content-end">
						<img src="images/books.svg" alt="">
					</div>
					<h3>{% trans %}Intégration  de module{% endtrans %}</h3>
					<p>{% trans %}Nous pouvons installer et configurer vos différentes solutions et y intégrer les modules de votre choix.{% endtrans %}</p>
				</div>

				<div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
					<div class="icon_container d-flex flex-column justify-content-end">
						<img src="images/professor.svg" alt="">
					</div>
					<h3>{% trans %}formation {% endtrans %}</h3>
					<p>{% trans %}Nous enseignons aux employés et chefs d'entreprises ou non les connaissances nécessaires pour une utilisation facile de nos systèmes.{% endtrans %}</p>
				</div>

				<div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
					<div class="icon_container d-flex flex-column justify-content-end">
						<img src="images/blackboard.svg" alt="">
					</div>
					<h3>{% trans %}Assistance en ligne{% endtrans %}</h3>
					<p>{% trans %}Après avoir se connecté à notre plateforme "Aidez-moi", vous aurez accès à toutes nos ressources pour vous assister depuis chez vous.
						Vous pouvez être également rediriger automatiquement vers notre service le plus adapté (accessible 24h/24 et 7j/7) pour une prise en charge rapide.
						Chaque client a ses identifiants qui sont livrés à l’abonnement aux services assistances en ligne.{% endtrans %}</p>
				</div>

				<div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
					<div class="icon_container d-flex flex-column justify-content-end">
						<img src="images/mortarboard.svg" alt="">
					</div>
					<h3>{% trans %}Maintenance{% endtrans %}</h3>
					<p>{% trans %}Les actions de dépannage et de réparation, de réglage, de révision, de contrôle que nous avons l'habitude de faire par nos mises à jour sur les différentes
						plateformes de nos clients sont la maintenance. Ces mises à jour prennent en compte nos notes pendant nos conférences en ligne 
						ou nos visites d'écoutes sur l'utilisation.{% endtrans %}</p>
				</div>

				<!--div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
					<div class="icon_container d-flex flex-column justify-content-end">
						<img src="images/mortarboard.svg" alt="">
					</div>
					<h3>Cablage</h3>
					<p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.</p>
				</div-->

			</div>
		</div>
	</div>
